.main_body {
    margin: 50px 15%;
}
.main_body nav {
    height: 70px;
    display: flex;
    justify-content: center;
    gap: 90px;
    color: #808080;
    border-top: 1px solid #92929252;
}
.main_body nav .nav_content {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    transition: 0.3s;
    border-top: 2px solid transparent;
}
.main_body nav .nav_content:hover {
    color: var(--main-body-color);
    border-top-color: var(--main-body-color);
}
.main_body nav .active {
    color: var(--main-body-color);
    border-top-color: var(--main-body-color);
}
.main_body nav .nav_content .nav_content_icon {
    font-size: 20px;
}
.main_body nav .nav_content h4 {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 2px;
}
.main_body .post_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three equal columns */
    grid-auto-rows: 1fr; /* Ensures rows adjust dynamically */
    gap: 5px; /* Space between grid items */
}

.main_body .post_grid li {
    /* Use aspect ratio to maintain the image's proportions */
    aspect-ratio: 1; /* This makes the height equal to the width */
    overflow: hidden; /* Hides any overflow content */
}

.main_body .post_grid li img {
    width: 100%; /* Image fills the grid item */
    height: 100%; /* Ensures image covers the full height */
    object-fit: cover; /* Maintains aspect ratio while covering the area */
}

/* =================================================================== */
@media (max-width: 1200px) {
    .main_body {
        margin: 50px 5%;
    }
    .main_body nav .nav_content .nav_content_icon {
        font-size: 18px;
    }
    .main_body nav .nav_content h4 {
        font-size: 14px;
    }
    .main_body .post_grid {
        gap: 3px;
    }
}
/* =================================================================== */
/* @media (max-width: 900px) {
    .main_body .post_grid {
        gap: 3px;
    }
} */
/* =================================================================== */
@media (max-width: 800px) {
    .main_body {
        margin: 10px 0;
    }
    .main_body nav {
        height: 60px;
        width: 100%;
        gap: 0;
    }
    .main_body nav .nav_content {
        flex: 1;
        justify-content: center;
    }
    .main_body nav .active {
        border-top: 1px solid var(--main-body-color);
    }
    .main_body nav .nav_content .nav_content_icon {
        font-size: 25px;
    }
    .main_body nav .nav_content h4 {
        display: none;
    }
    /* .main_body .post_grid {
        gap: 1px;
    } */
}
