.body{
    background-color: whitesmoke;
}
.nav-bar{
    width: 101%;
    height: 50px;
    border: 1.5px solid #e9ddddbe;
    margin: -1% 2% 0% -1%;
    background-color: white;
}
ul{
    list-style: none;
    display: flex;  
}
.search-box{
    margin: 0px 0px 0px 25%;
    border-color: rgba(198, 214, 212, 0.829);
    background-color: #EFEFEF;
    height: 18px;
}
#menu-icon{
    margin: 0px 0px 0px 10pc; 
}
.insta-logo {
    margin: 0px 0px 0px 10pc;
}
.nav-icons{
    margin: 0px 0px 0px 1pc;
}
.m-logo{
    width: 10%;
    border: 0px solid grey;
    border-radius: 50%;
    margin: 5% 0% 0% 25%;
}
#logo{
    width: 100%;
    height: 5%;
    object-fit: cover;
    border-radius: 50%;
}

.profile{
    width: 50%;
    height: 100%;
    border: 0px solid;
    float: right;
    margin-top: -15%;
}
#mediamodifier{
    font-size: x-large;
    color: #161722;
}
#message{
    width: 17%;
    margin-left: 40px;
}